<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
     {% if title %}
        <title>{{ title }} - 博客</title>
    {% else %}
        <title>欢迎来到博客!</title>
    {% endif %}
    </head>
    <body>
        <div>博客 :
           <a href="{{ url_for('index') }}">home</a>
           <a href="{{ url_for('login') }}">login</a>
           <a href="{{ url_for('logout') }}">logout</a>
        </div>
        {% with messages = get_flashed_messages() %}
            <ur>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ur>
        {% endwith %}
        {% block content %}

        {% endblock %}
    </body>
</html>